{% load leaflet_tags %}
{% load static %}


<link rel="stylesheet" href="{% static 'events/index.css' %}">

<head>
    <title>Secure Ware</title>
    {% leaflet_js %}
    {% leaflet_css %}
    <script>
    function map_init_basic (map, options) {
        {{ details|safe }}.forEach(item => console.log(item));
        {{ details|safe }}.forEach(item => {
            let marker = null;
            const popupText = "Name: " + item["name"] + "<br> Organizer: " + item["organizer"] +
                    "<br> Description: " + item["description"];
            if ("image_url" in item) {
                marker = L.icon({
                    iconUrl: item["image_url"],

                    iconSize: [35, 85]
                })
            }
            L.marker(item["location"], {icon:marker}).addTo(map)
                .bindPopup(popupText)
        });
    }
    </script>
</head>
<body>
{% leaflet_map "yourmap" callback="window.map_init_basic"%}
</body>