<h1>{{classData.classname}}</h1>
{% if classData %}
<ul>
    <li>Class name: {{classData.classname}}</li>
    <li>Building: {{building.name}}</li>
    <li>Room: {{classData.room}}</li>
    <li>Start time: {{classData.startTime}}</li>
    <li>End time: {{classData.endTime}}</li>
</ul>
<br>
<h3>Where can I find my class?</h3>
<iframe 
  width="500" 
  height="500" 
  frameborder="0" 
  scrolling="no" 
  marginheight="0" 
  marginwidth="0" 
  src="https://maps.google.com/maps?q={{building.longitude}},{{building.latitude}}&zoom=500&hl=en&z=18&amp;output=embed"
 ></iframe>
{% else %}
    <p>No poll are available.</p>
{% endif %}