{% load leaflet_tags %}
{% load static %}


<link rel="stylesheet" href="{% static 'classes/index.css' %}">

<head>
    <title>Secure Ware</title>
    {% leaflet_js %}
    {% leaflet_css %}
    <script>
    function map_init_basic (map, options) {
        {{ details|safe }}.forEach(item => console.log(item));
        {{ details|safe }}.forEach(item => {
            L.marker(item["location"]).addTo(map).bindPopup('Name: ' + item["name"])
        });
    }
    </script>
</head>

<body>
<div class="body" style="width: 100%; height: 100%">
    {% leaflet_map "yourmap" callback="window.map_init_basic"%}
</div>

</body>